html, body {
    margin: 0;
    color: #003082;
    max-height: 100vh;
}

.container {
    background-color: gold;
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 80%;
    position: relative;
    text-align: center;
}

.content__wrapper, .home__wrapper {
    min-height: 100vh;
}

.content__wrapper .logo__wrapper {
    margin-top: 20px;
}

.home__wrapper {
    display: flex;
    align-items: center;
}

.welcome__title {
    display: block;
}

.logo_wrapper img {
    display: block;
}

.content__wrapper .welcome__title, .home__wrapper .welcome__title {
    font-size: 40px;
}

.main, .stations__wrapper {
    display: inline-block;
}

.station-title__wrapper {
    text-align: center;
    margin-top: 6px;
}

.logo__wrapper {
    text-align: center;
}

.logo__wrapper img {
    padding-bottom: 10px;
}

label.stations-label {
    padding-left: 10px;
    font-size: 24px;
    text-align: center;
}

ul {
    padding-left: 20px;
}

ul a {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #003082;
}

a.back-button-link {
    text-decoration: none;
    color: #FFF;
}

.button__wrapper {
    background-color: #003082;
    position: absolute;
    right: 0;
    bottom: 0;
}

.back-button {
    padding: 10px 30px;
}

li {
    list-style: none;
}

.stations__wrapper {
    width: 20%;
    overflow-y: scroll;
    border-left: 5px solid #e6e6e9;
    position: fixed;
    right: 0;
    height: 100%;
}

.search-station {
    position: absolute;
    right: 30px;
    top: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: left;
    background-color: #FFF;
    padding: 10px;
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 0 6px 0 rgba(7,7,33,.2);
}

table tr td, table tr th {
    padding: 10px 18px;
}

table tr {
    border-bottom: 4px solid #E6E6E9;
}

table tr:nth-of-type(1) {
    border-top: 4px solid #E6E6E9;
}

.fa-sync.fa-spin {
    font-size: 60px;
}

.spinner__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}